.careers-main-pic-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 45px;
}

.careers-main-pic {
    width: 100%;
    height: 100%;
}

.careers-img-overlay {
    position: absolute;
    top: 80%;
    left: 13.5%;
    transform: translate(-50%, -50%);
}

.careers-img-overlay-text {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 70px;
}

@media only screen and (max-width: 450px) {
    .careers-main-pic-container {
        margin-top: 60px;
    }

    .careers-img-overlay {
        top: 75%;
        left: 19%;
    }

    .careers-img-overlay-text {
        font-size: 35px;
    }
}