@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.pf-cmp-container {
    background-color: #fff;
    margin-bottom: 80px;
}

.pf-title-container {
    width: 50px;
    height: 50px;
    margin: 43px 285px 89px 55px;
}

.pf-title {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.pf-img-container {
    display: flex;
    flex-direction: column;
}

.pf-img-row {
    display: flex;
    flex-direction: row;
}

.pf-img1-container,
.pf-img2-container,
.pf-img3-container,
.pf-img4-container {
    width: 50%;
    height: 400px;
}

.pf-img1,
.pf-img2,
.pf-img3,
.pf-img4 {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.pf-img1-container,
.pf-img3-container {
    margin-left: 55px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.pf-img2-container,
.pf-img4-container {
    margin-right: 55px;
    margin-bottom: 8px;
}

.pf-img-overlay {
    position: relative;
}

.pf-img-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.pf-img-overlay:hover::before {
    opacity: 1;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.pf-img-overlay:hover .img-text {
    opacity: 1;
}

.pf-img4-seeMore {
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width: 450px) {
    .pf-title-container {
        margin: 25px 17px;
    }

    .pf-title {
        font-size: 35px;
    }

    .pf-cmp-container {
        margin-top: -229px;
    }
}

/* 395, 375, 360 */

@media only screen and (max-width: 429px) {
    
}